# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter/Colab
.ipynb_checkpoints/
output_wp/
drive/
*.jsonl
corpus.jsonl

# Entornos virtuales
env/
venv/

# Archivos personales
*.env
*.log
*.db
*.sqlite3

# VSCode (si usás VSCode)
.vscode/
